<html lang="en">
  <head>
    <title>Add New Users Details</title>
    <link rel="stylesheet" href="static/add.css" />
  </head>
  <body>
    <h1>Add Users</h1>
    <div>
      <form action="" method="post">
        <label for="">NAME </label>
        <input type="text" name="name" required /><br>
        <label for="">AGE </label>
        <input type="text" name="age" required /><br>
        <label for="">CITY </label>
        <input type="text" name="city" required /><br>
        <input class="btn" type="submit" value="save details" />
      </form>
    </div>
  </body>
</html>
