<html lang="en">
  <head>
    <title>Edit</title>
    <link rel="stylesheet" href="../static/add.css" />
  </head>
  <body>
    <h1>Update User Details</h1>
    <div>
      <form action="" method="post">
        <label for="">NAME:</label>
        <input type="text" name="name" value="{{datas.NAME}}" required />
        <label for="">AGE:</label>
        <input type="text" name="age" value="{{datas.AGE}}" required />
        <label for="">CITY:</label>
        <input type="text" name="city" value="{{datas.CITY}}" required />
        <input class="btn" type="submit" value="Update Details" />
      </form>
    </div>
  </body>
</html>
